/*
###############################################################################
#                                                                             #
#   Author: JungHwan Lee                                                      #
#   Submission Deadline: 31th March                                           #
#   Niub: 20467554                                                            #
#                                                                             #
###############################################################################
*/

/* 
  color image set
  reference from https://www.shutterstock.com/ko/blog/10-gorgeous-color-schemes-for-websites/
  333D51 / D3AC2B / CBD0D8 / F4F3EA
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 420px;
  margin: 0px;
}

.nav-item:hover {
  background-color: #C0A02B;
}

.searching {
  height: 300px;
  background-image: url("../assets/city-image.jpg");
  background-size: cover;
  background-position-y: 80%;
}

.search-bar-background {
  width: 850px;
  padding-block: 3px
}

.search-bar {
  gap: 5px;
  margin-inline: 2.5px;
}

.input-field {
  flex-basis: 19.3%
}

@media (max-width: 1000px) {
  .search-bar-background {
      width: 70vw;
      padding-block: 3px
  }
  .input-field {
    flex-basis: 49%
  }
}

@media (max-width: 600px) {
  .search-bar-background {
      width: 360px;
      padding-block: 3px
  }
  .input-field {
    flex-basis: 100%
  }
}

.autocomplete-suggestions {
	position: absolute;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 1000;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.autocomplete-suggestions ul {
	padding-left: 20px;
}

.autocomplete-suggestions li {
    list-style-type: none;
    margin: 0;
    padding: 4px 6px;
    cursor: pointer;
}

.autocomplete-suggestions li:hover {
    background-color: #f0f0f0;
}

#card-list-title {
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: bold;
}

li.list-group-item {
  border: none;
  padding: 12px;
}

.bg-dark-blue   { background-color: #333D51; }
.bg-gold        { background-color: #D3AC2B; }
.bg-link-water  { background-color: #CBD0D8; }
.bg-beige       { background-color: #F4F3EA; }
.center-item    { display: flex; justify-content: center; align-items: center; }